
.header-services {
	padding-bottom: 148px !important;
}

.header-services-sub {
	max-width: 451px;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin-bottom: 73px;
}

.header-services__img-big:before {
  background: url("../img/header-02.jpg") center center !important;
 }