//====================================================================================================
.header {
	position: relative;
	padding-top: 60px;

	&__container {
		position: relative;
		z-index: 5;
		// border: 1px solid red;
	}

	&__logo {
		font-size: 23.48px;
		color: #1A1818;
		span {
			// font-size: 14.17px;
			color: #1A1818;
		}
	}

	&__img {
		max-width: 1180px;
		width: 100%;
		height: 780px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		margin-left: auto;
		// border: 1px solid #000;
	}

	&__img-big {
		position: relative;
		top: -370px;
		right: -24%;
		max-width: 1070px;
		width: 100%;
		height: 930px;
		border: 10px solid #8AB82D;
		border-radius: 115px;
		overflow: hidden;
    transform: rotate(-42deg);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
	}

	&__img-big:before {
  content: "";
  position: absolute;
	width: 100%;
	height: 758px;
 	top: 180px;
  right: 310px;
  z-index: 1;
  background: url("../img/header-01.jpg") center center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // background-size: 99%;
  transform: rotate(42deg);
}

	&__block-grey {
		position: absolute;
		top: 40%;
		left: 5%;
		width: 189px;
		height: 194px;
		background: #E0E1E3;
		border-radius: 40px;
		overflow: hidden;
    transform: rotate(-43deg);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
	}

		&__block-green-small {
		position: absolute;
		bottom: 22%;
		left: 26%;
		width: 88px;
		height: 90px;
		background: #8AB82D;
		border-radius: 25px;
		overflow: hidden;
    transform: rotate(-43deg);
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
	}

	&__block-green {
	position: absolute;
	bottom: 0;
	right: 0;
	// width: 280px;
 //  height: 313px;
  border-bottom: 280px solid #8AB82D;
  border-left: 313px solid transparent;
	}

	&__img-c {
		width: 100%;
		height: auto;
	}

	&__row {
		background: #fff;
		border-radius: 20px;
		border: 1px solid #000;
	}
}

.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	&__menu {
		// position: relative;
		// z-index: 5;
	}
}
.menu {
	&__icon {}
	&__body {}
	&__list {}
	&__link {
		font-size: 14px;
		color: #1A1818;
		margin-right: 40px;
		// &:last-child {
		// 	 margin:0px 0px 0px 0px;
		// }
	}
}
.icon-menu {
}

//====================================================================================================

	// Стиль иконки бургера
	.icon-menu{
		display: none;
		position: absolute; 
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #fe9d2b;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
	.menu__body.active {
		display: block;
		position: fixed;
		z-index: 50000;
		background: rgba(0,0,0,0.9);
	// opacity: 0.95;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 15px 20px 35px 10px;
	margin-top: 55px;
	overflow: auto;
	transition: all 0.35s;
}

